@import './base.css';
@import './flexboxgrid.css';

.title {
  font-family: 'Amaz', serif;
  font-weight: normal;
  margin: 0;
  letter-spacing: 1px;
}

.divider {
  margin: 7px 0 6px;
  height: 2px;
  width: 100%;
  background-color: var(--color-background);
}

.button {
  display: inline-block;
  clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  background-color: var(--color-background-inverted);
  padding: 16px 36px;
  color: var(--color-text-contrast);
  text-decoration: none;
  font-family: 'Amaz';
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  
  @media screen and (min-width: 1024px) {
    padding: 20px 42px;
    font-size: 28px;
  }

  &:hover {
    background-color: var(--color-background-contrast-light);
    color: var(--color-text);
  }
}